<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PostCard | Beautiful Location Stock</title>
    <link rel="stylesheet" href="src/css/base.css">
    <script src="src/js/script.js"></script>
</head>
<body>
    <header>
        <div id="logo">  <H1>PostCard</H1>  </div>
        <div id="header-links-cont">
            <ul id="header-links">
                <li><img src="src/assets/icons/bx-search-alt-2.svg" alt="Search icon"></li>
                <li><a href="">Explore</a></li>
                <li><a href="">Studio</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Submit</a></li>
                <li><img src="src/assets/icons/bxs-user.svg" alt="User icon"></li>
                <li><button>Join</button></li>
            </ul>
        </div>
    </header>

    <section id="landing-photo">
        <img src="src/assets/pdesign.jpg" alt="" id="l-p-im">
        <h1> Beautiful photos of lovely Locations..</h1>
        <p>Trending: <span style="opacity: .5;">bahamas palms valgos, lapos.</span></p>
    </section>

    <section id="photos">
        <div id="p-button-cont">
            <button class="photos-grid-button" style="border: none; border-bottom: 3px solid #121212;">Featured</button>
            <button class="photos-grid-button">Popular</button>
            <button class="photos-grid-button">All</button>
        </div>
        <div id="photos-grid">
            <img src="src/assets/tttdesign.jpg" alt="">
            <img src="src/assets/pdesign.jpg" alt="">
            <img src="src/assets/Tdesign.jpg" alt="">
            <img src="src/assets/idesign 1.jpg" alt="">
            <img src="src/assets/pdesign.jpg" alt="">
            <img src="src/assets/idesign 1.jpg" alt="">
            <img src="src/assets/idesign 1.jpg" alt="">
            <img src="src/assets/idesign 1.jpg" alt="">
            <img src="src/assets/idesign 1.jpg" alt="">
            <img src="src/assets/idesign 1.jpg" alt="">
            <img src="src/assets/idesign 1.jpg" alt="">
            <img src="src/assets/idesign 1.jpg" alt="">
        </div>
    </section>
</body>
</html>