{% extends 'base.html' %} 
{% load static %}
{% block body %}
<div class="container">
  <!-- <form method='GET'>
    <input type='text' name='q' value='{{ request.GET.q }}'>
    <input  class="button" type='submit' value="Search photos">
  </form> -->
</div>
 <div class="row">
  <style>
    img:hover {
      opacity: 0.5;
    
    }
    .hovertext {
  position: relative;
  border-bottom: 1px dotted black;
}

.hovertext:before {
  content: attr(data-hover);
  visibility: hidden;
  opacity: 0;
  width: 140px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.hovertext:hover:before {
  opacity: 1;
  visibility: visible;
}
img{
  width: 500px;
  height: 500px;
  border: burlywood solid 1px;
} 
</style>
<section id="landing-photo">
  <img src="{% static 'postcard/assets/icons/pdesign.jpg' %}" alt="" id="l-p-im">
  <h1> Beautiful photos of lovely Locations..</h1>
  <p>Trending: <span style="opacity: .5;">bahamas palms valgos, lapos.</span></p>
</section>
  <section id="photos">
  <div id="p-button-cont">
    <button class="photos-grid-button" style="border: none; border-bottom: 3px solid #121212;">Featured</button>
    <button class="photos-grid-button">Popular</button>
    <button class="photos-grid-button">All</button>
  </div>
  
  
    <div id="photos-grid">
      {% for post in posts %}
      <a href="{% url 'post:detail' post.slug %}">
        <span class="hovertext" data-hover="{{post.user.username}}">
        <img src="{{post.image.url}}" alt="{{post.title}}">
      </a>
      {% endfor %}
    </div>
   
</section>
  
</div>
</div>


{% endblock body %}