<!-- templates/navbar.html -->
{% load static %}
    <header>
        <div id="logo">    
        <a><H1>PostCard</H1></a>
        </div>
        <div id="header-links-cont">
            <ul id="header-links">
                <li><img src="{% static 'postcard/assets/icons/bx-search-alt-2.svg' %}" alt="Search icon"></li>
                <li><a href="{% url 'post:list' %}">Explore</a></li>
                <li><a href="{% url 'blog:home' %}">Blog</a></li>
                <li><a href="">About</a></li>
                <li><a href="{% url 'post:create' %}">Submit</a></li>
                <li><img src="{% static 'postcard/assets/icons/bxs-user.svg' %}" alt="User icon"></li>
                <li><button> <a href="{% url 'user:login' %}">Join</a> </button></li>
            </ul>
        </div>
    </header>

  
    </div>
    </nav>